<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/link-bs')%>
    <title>home page</title>
</head>
<body>
    <%-include('partials/nav-bar')%>
    <h1>Contact Us!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Facilis iste maiores aliquid pariatur, et nobis obcaecati 
        beatae sunt minus eligendi magnam in odit, mollitia non 
        recusandae corporis harum quam asperiores!</p>

    
    
</body>
</html>